@import url('../index.css');

.reset-password {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    gap: 15px;
}

.reset-password form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 20%;
    gap: 10px;
    border: 2px solid var(--primary-1);
    background-color: var(--secondary);
    border-radius: 25px;
}

.reset-password form .password-field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    .input {
        flex: 1;
    }

    >svg {
        color: var(--neutral);
        flex: 0.25;
    }
}

.reset-password img {
    width: 70px;
    height: 70px;
}

.reset-password h3 {
    color: var(--primary-1);
}

.wrong-code-entry {
    color: red;
}
button:disabled{
    background-color: gray;
    color: black;
}